<ion-header>
  <ion-toolbar color="erp">
    <ion-title >
ERP MERCHANDISE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div> -->
<h1>Write Off</h1>
<p>Select the button to add a new write off</p>
  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon width="150px" height="150px" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
